{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <section class="hero">
        <div class="hero-content">
            <div>
                <h1>Bienvenido a Snazzy D's -- Aqui hare todo lo del portafolio</h1>
                
            </div>
        </div>
    </section>

    <section class="about-us">
        <h2>Sobre mi</h2>
        <p>Sobre mi... -- Cosas de mi</p>
    </section>

    <section class="about-us">
        <h2>Características Principales</h2>
        <ul>
            <li>Creación de tickets con diferentes prioridades.</li>
            <li>Asignación de tickets a usuarios específicos.</li>
            <li>Seguimiento del estado de los tickets.</li>
            <li>Historial de interacciones y actualizaciones.</li>
        </ul>
    </section>

    <br><br><br><br><br><br><br><br><br><br><br>
</div>
{% endblock content %}